@model ItStepTask.Web.Models.LayoutViewModel


<div class="form-group">
    <div class="col-md-10" style="margin-top: 20px;">
        @Html.DropDownListFor(model => model.SelectedCategoryId, Model.Categories, "All", new {@class = "form-control", style = "width:100px",  id = "categoryId"})
    </div>
</div>



