@model ItStepTask.Web.Models.LayoutViewModel

<a href="@Url.Action("Index", "ShoppingCart")"><img src="~/Content/Images/cart.png" class="shopping-cart"><span class="badge" id="shopCartCount">@Model.ShoppingCartItemsCount</span></a>



