@model ItStepTask.Web.Models.LayoutViewModel

@if (@Model != null)
{

    <a href="@Url.Action("Index", "ShoppingCart")"><span class="badge" id="shopCartCount">@Model.ShoppingCartItemsCount</span></a>
}


