@model IList<ItStepTask.Web.Areas.Admin.ViewModels.PurchaseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Purchases</h2>

<div id="editForm">
    @Html.Partial("_EditPurchases", Model);
</div>

@section Scripts {
    @Scripts.Render("~/bundles/orders")
}

