
<h2>Manage:</h2>

@Html.ActionLink("Categories", "Index", "Categories", new { Area = "Admin" }, new{})

<br />

@Html.ActionLink("Suppliers", "Index", "Suppliers", new { Area = "Admin" }, new {})

<br />

@Html.ActionLink("Items", "Index", "Items", new { Area = "Admin" }, new { })